@font-face {
  font-family: 'Norse Bold';
  src: url('https://cdn.statically.io/gh/TheOdinProject/theodinproject/efdc2888072f409e687d31dc580595dbe4fe0ff4/app/assets/fonts/Norse-Bold.otf') format('opentype');
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	padding: 0;
}

a {
  color: white; 
  text-decoration: underline; 
}

.container{
	display: flex;
	width: 100%;
}

.left{
	width: 40%;
	height: 100vh;
	background-image: url('images/halie-west-25xggax4bSA-unsplash.jpg');
	background-size: cover;
}

.left h1{
	color: whitesmoke;
	font-family: 'Norse Bold', sans-serif;
	font-size: 120px;
	position: relative;
	top: 15vh;
	background-color: rgb(0, 0, 0, 0.3);
	text-align: center;
	align-items: center;
}

.left h1 img{
	height: 130px;
	align-items: center;
	position: relative;
	top: 15px;
}

.left > div:last-child{
	color: white;
	position: absolute;
  bottom: 0;
	width: 40%;
	text-align: center;
}



.right{
	width: 60%;
	height: 100vh;
	background-color: rgb(240, 240, 240);
}

.right .top, form, .mid p, .bottom{
	padding-left: 45px;
}

.right button{
	padding: 13px;
	color: white;
	font-weight: 700;
	font-size: 17px;
	width: 230px;
	/* height: 45px; */
	background-color: #596D48;
	border: 0;
	border-radius: 7px;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
}

.top{
	font-size: 25px;
	font-weight: 600;
}
.top:first-child{
	padding-top: 45px;
	margin-top: 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

.bottom{
	padding-top: 50px;
}

.right .bottom a{
	font-weight: 700;
	color: #596D48;
	text-decoration: none;
}

form{
	background-color: white;
	font-size: 14px;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1);
	padding-bottom: 25px;
}

.mid p{
	margin: 0;
	background-color: white;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 25px;
	font-weight: 500;
}	

input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
  border: 1px solid rgba(0, 0, 0, 0.253);
  border-radius: 5px;
  padding: 10px;
  width: 280px;
	height: 30px;
  box-sizing: border-box;
}
form div:not(:nth-child(3n)) {
  display: inline-block;
	margin-right: 70px;
	margin-bottom: 20px;
}

form div:nth-child(3n){
	display: block;
}

/* .inputFocused{
	transform: scale(1.1);
  border-color: blue;
  box-shadow: 0 0 1rem rgba(0,0,0,0.1);
} */

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, input[type="number"]:focus {
  border: 2px solid rgba(0, 0, 255, 0.781);
  outline: none;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.1)
}

button:hover{
	cursor: pointer;
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.2)


}